@import url("../css/normalize.css");

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ededed;
    height: 100vh;
    background-image: url('https://commons.wikimedia.org/wiki/File:Google_Contacts_icon.svg');

}

.content {
    display: flex;
    gap: 5px;
    height: 100%;
}

.contacts {
    background-color: #ffffff;
    width: 25vw;
    min-width: 320px;
    height: 100%;
    box-shadow: 0 0 4px #000000;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.contacts__user-avatar {
    height: 25vw;
    overflow: hidden;
    display: flex;
    justify-content: center;

    img {
        display: block;
        height: 100%;
    }
}

.contacts__name-container {
    min-height: 40px;
    max-width: 100%;
}

.contacts__name {
    margin: 0 0 0 50%;
    padding: 0;
    transform: translateX(-50%);
    font-size: 32px;
    font-weight: 700;
    position: relative;
    width: max-content;
    max-width: 100%;
    cursor: pointer;


    &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../images/edit-btn.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: -35px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.contacts__name-edit-input {
    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    font-size: 32px;
    font-weight: 700;
    border: none;
    text-align: center;
}

.contacts__contact-list-container {
    overflow-y: scroll;
    margin-top: 15px;
    border-top: 1px solid #cdcdcd;
    padding-top: 15px;
}

.contacts__contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item {
    min-height: 50px;
    padding-left: 25px;
    display: flex;
    gap: 20px;
    // border: 1px solid #e5e5e5;
    cursor: pointer;
}

.contact-item__img-container {
    height: 50px;

    img {
        height: 100%;
    }
}

.contact-item__name-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-around;

    p {
        margin: 0;
    }
}

.contact-item__phone {
    font-size: 12px;
    color: #a8a8a8;
}

.editor {
    background-color: #ffffff;
    flex-grow: 1;
    transform: translateY(-150%);
    transition-property: transform;
    transition-duration: 0.5s;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 4px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editor--shown {
    transform: translateY(0);
}

.editor__contact-name {
    padding: 0;
    margin: 0 0 50px 0;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    width: max-content;
    max-width: 100%;
    cursor: pointer;


    &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-image: url("../images/edit-btn.svg");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: -35px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.editor__contact-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 50px;

    label {
        display: flex;
        align-items: center;
    }

    input {
        flex-grow: 1;
        margin-left: 10px;
        height: 50px;
    }
}

.editor__save-button {
    width: 100px;
    height: 50px;
    margin-top: 50px;
    background-color: #00693dce;
    border: 1px solid #00693E;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 10px #b8b8b8;
    }
}

.editor__close-button {
    position: absolute;
    right: 50px;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: #c05a5a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: none;
    cursor: pointer;

    &:hover {
        box-shadow: 2px 2px 10px #b8b8b8;
    }
}